%nav.navbar.navbar-party.mb-4
  .container
    = link_to photos_path, class: "navbar-brand fw-bold" do
      = image_tag "perl.png", height: 64, alt: "pearl"
      Fran's Party
    = link_to "Upload Photos", new_photo_path, class: "btn btn-party btn-sm"
